<a href="https://colab.research.google.com/github/Deeksha0209/Merged-Datasets-/blob/main/country_population.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing lib, download file  & reading csv file
from google.colab import files
uploaded = files.upload()

Saving country_population.csv to country_population.csv

In [ ]:
import numpy as np
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['country_population.csv']))
print(df)

     Country Name Country Code     Indicator Name Indicator Code        1960  \
0           Aruba          ABW  Population, total    SP.POP.TOTL     54211.0
1     Afghanistan          AFG  Population, total    SP.POP.TOTL   8996351.0
2          Angola          AGO  Population, total    SP.POP.TOTL   5643182.0
3         Albania          ALB  Population, total    SP.POP.TOTL   1608800.0
4         Andorra          AND  Population, total    SP.POP.TOTL     13411.0
..            ...          ...                ...            ...         ...
259        Kosovo          XKX  Population, total    SP.POP.TOTL    947000.0
260   Yemen, Rep.          YEM  Population, total    SP.POP.TOTL   5172135.0
261  South Africa          ZAF  Population, total    SP.POP.TOTL  17456855.0
262        Zambia          ZMB  Population, total    SP.POP.TOTL   3044846.0
263      Zimbabwe          ZWE  Population, total    SP.POP.TOTL   3747369.0

           1961        1962        1963        1964        1965  ...  \
0       55438.0     56225.0     56695.0     57032.0     57360.0  ...
1     9166764.0   9345868.0   9533954.0   9731361.0   9938414.0  ...
2     5753024.0   5866061.0   5980417.0   6093321.0   6203299.0  ...
3     1659800.0   1711319.0   1762621.0   1814135.0   1864791.0  ...
4       14375.0     15370.0     16412.0     17469.0     18549.0  ...
..          ...         ...         ...         ...         ...  ...
259    966000.0    994000.0   1022000.0   1050000.0   1078000.0  ...
260   5260501.0   5351799.0   5446063.0   5543339.0   5643643.0  ...
261  17920673.0  18401608.0  18899275.0  19412975.0  19942303.0  ...
262   3140264.0   3240587.0   3345145.0   3452942.0   3563407.0  ...
263   3870756.0   3999419.0   4132756.0   4269863.0   4410212.0  ...

           2007        2008        2009        2010        2011        2012  \
0      101220.0    101353.0    101453.0    101669.0    102053.0    102577.0
1    26616792.0  27294031.0  28004331.0  28803167.0  29708599.0  30696958.0
2    20997687.0  21759420.0  22549547.0  23369131.0  24218565.0  25096150.0
3     2970017.0   2947314.0   2927519.0   2913021.0   2905195.0   2900401.0
4       82683.0     83861.0     84462.0     84449.0     83751.0     82431.0
..          ...         ...         ...         ...         ...         ...
259   1733404.0   1747383.0   1761474.0   1775680.0   1791000.0   1805200.0
260  21751605.0  22356391.0  22974929.0  23606779.0  24252206.0  24909969.0
261  49887181.0  50412129.0  50970818.0  51584663.0  52263516.0  52998213.0
262  12725974.0  13082517.0  13456417.0  13850033.0  14264756.0  14699937.0
263  13329909.0  13558469.0  13810599.0  14086317.0  14386649.0  14710826.0

           2013        2014        2015        2016
0      103187.0    103795.0    104341.0    104822.0
1    31731688.0  32758020.0  33736494.0  34656032.0
2    25998340.0  26920466.0  27859305.0  28813463.0
3     2895092.0   2889104.0   2880703.0   2876101.0
4       80788.0     79223.0     78014.0     77281.0
..          ...         ...         ...         ...
259   1824100.0   1821800.0   1801800.0   1816200.0
260  25576322.0  26246327.0  26916207.0  27584213.0
261  53767396.0  54539571.0  55291225.0  56015473.0
262  15153210.0  15620974.0  16100587.0  16591390.0
263  15054506.0  15411675.0  15777451.0  16150362.0

[264 rows x 61 columns]

In [ ]:
#listing top 10 entries
df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0
5,Arab World,ARB,"Population, total",SP.POP.TOTL,92490932.0,95044497.0,97682294.0,100411076.0,103239902.0,106174988.0,...,331653797.0,339825483.0,348145094.0,356508908.0,364895878.0,373306993.0,381702086.0,390043028.0,398304960.0,406452690.0
6,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,92634.0,101078.0,112472.0,125566.0,138529.0,150362.0,...,6044067.0,6894278.0,7666393.0,8270684.0,8672475.0,8900453.0,9006263.0,9070867.0,9154302.0,9269612.0
7,Argentina,ARG,"Population, total",SP.POP.TOTL,20619075.0,20953077.0,21287682.0,21621840.0,21953929.0,22283390.0,...,39970224.0,40382389.0,40799407.0,41223889.0,41656879.0,42096739.0,42539925.0,42981515.0,43417765.0,43847430.0
8,Armenia,ARM,"Population, total",SP.POP.TOTL,1874120.0,1941491.0,2009526.0,2077575.0,2144998.0,2211316.0,...,2933056.0,2908220.0,2888584.0,2877311.0,2875581.0,2881922.0,2893509.0,2906220.0,2916950.0,2924816.0
9,American Samoa,ASM,"Population, total",SP.POP.TOTL,20013.0,20486.0,21117.0,21882.0,22698.0,23520.0,...,57903.0,57030.0,56227.0,55637.0,55320.0,55230.0,55307.0,55437.0,55537.0,55599.0

In [ ]:
#listing bottom 5 entries
df.tail(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1733404.0,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,21751605.0,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,49887181.0,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,12725974.0,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13329909.0,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0

In [ ]:
#original shape of df
df.shape

(264, 61)

In [ ]:
#a stats summary
df.describe()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,263,263,263.0,263.0,263.0,263.0,263.0,263.0,263.0,263.0,...,263.0,263.0,263.0,263.0,263.0,263.0,263.0,263.0,2.630000e+02,2.630000e+02
unique,263,263,259.0,260.0,259.0,260.0,260.0,260.0,260.0,260.0,...,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,2.610000e+02,2.610000e+02
top,Aruba,ABW,571835666.0,234008580.0,596413939.0,245503266.0,251576403.0,257868609.0,264386171.0,271139271.0,...,808660166.0,830965556.0,853953657.0,877628367.0,901989926.0,927039875.0,952734072.0,979017918.0,1.005850e+09,1.033213e+09
freq,1,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.000000e+00,2.000000e+00

In [ ]:
#a random sample view
df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
69,Estonia,EST,"Population, total",SP.POP.TOTL,1211537.0,1225077.0,1241623.0,1258857.0,1277086.0,1294566.0,...,1340680.0,1337090.0,1334515.0,1331475.0,1327439.0,1322696.0,1317997.0,1314545.0,1315407.0,1315790.0
221,Sweden,SWE,"Population, total",SP.POP.TOTL,7484656.0,7519998.0,7561588.0,7604328.0,7661354.0,7733853.0,...,9148092.0,9219637.0,9298515.0,9378126.0,9449213.0,9519374.0,9600379.0,9696110.0,9799186.0,9923085.0
9,American Samoa,ASM,"Population, total",SP.POP.TOTL,20013.0,20486.0,21117.0,21882.0,22698.0,23520.0,...,57903.0,57030.0,56227.0,55637.0,55320.0,55230.0,55307.0,55437.0,55537.0,55599.0
79,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,...,61322463.0,61806995.0,62276270.0,62766365.0,63258918.0,63700300.0,64128226.0,64613160.0,65128861.0,65595565.0
128,Lebanon,LBN,"Population, total",SP.POP.TOTL,1804926.0,1864605.0,1925276.0,1984980.0,2041207.0,2092348.0,...,4086466.0,4111047.0,4183156.0,4337141.0,4588368.0,4916404.0,5276102.0,5603279.0,5851479.0,6006668.0

In [ ]:
#dropping extra/unneccessary colm
df=df.drop(columns =['Indicator Name','Indicator Code'])
print(df)

     Country Name Country Code        1960        1961        1962  \
0           Aruba          ABW     54211.0     55438.0     56225.0
1     Afghanistan          AFG   8996351.0   9166764.0   9345868.0
2          Angola          AGO   5643182.0   5753024.0   5866061.0
3         Albania          ALB   1608800.0   1659800.0   1711319.0
4         Andorra          AND     13411.0     14375.0     15370.0
..            ...          ...         ...         ...         ...
259        Kosovo          XKX    947000.0    966000.0    994000.0
260   Yemen, Rep.          YEM   5172135.0   5260501.0   5351799.0
261  South Africa          ZAF  17456855.0  17920673.0  18401608.0
262        Zambia          ZMB   3044846.0   3140264.0   3240587.0
263      Zimbabwe          ZWE   3747369.0   3870756.0   3999419.0

           1963        1964        1965        1966        1967  ...  \
0       56695.0     57032.0     57360.0     57715.0     58055.0  ...
1     9533954.0   9731361.0   9938414.0  10152331.0  10372630.0  ...
2     5980417.0   6093321.0   6203299.0   6309770.0   6414995.0  ...
3     1762621.0   1814135.0   1864791.0   1914573.0   1965598.0  ...
4       16412.0     17469.0     18549.0     19647.0     20758.0  ...
..          ...         ...         ...         ...         ...  ...
259   1022000.0   1050000.0   1078000.0   1106000.0   1135000.0  ...
260   5446063.0   5543339.0   5643643.0   5748588.0   5858638.0  ...
261  18899275.0  19412975.0  19942303.0  20486439.0  21045785.0  ...
262   3345145.0   3452942.0   3563407.0   3676189.0   3791887.0  ...
263   4132756.0   4269863.0   4410212.0   4553433.0   4700041.0  ...

           2007        2008        2009        2010        2011        2012  \
0      101220.0    101353.0    101453.0    101669.0    102053.0    102577.0
1    26616792.0  27294031.0  28004331.0  28803167.0  29708599.0  30696958.0
2    20997687.0  21759420.0  22549547.0  23369131.0  24218565.0  25096150.0
3     2970017.0   2947314.0   2927519.0   2913021.0   2905195.0   2900401.0
4       82683.0     83861.0     84462.0     84449.0     83751.0     82431.0
..          ...         ...         ...         ...         ...         ...
259   1733404.0   1747383.0   1761474.0   1775680.0   1791000.0   1805200.0
260  21751605.0  22356391.0  22974929.0  23606779.0  24252206.0  24909969.0
261  49887181.0  50412129.0  50970818.0  51584663.0  52263516.0  52998213.0
262  12725974.0  13082517.0  13456417.0  13850033.0  14264756.0  14699937.0
263  13329909.0  13558469.0  13810599.0  14086317.0  14386649.0  14710826.0

           2013        2014        2015        2016
0      103187.0    103795.0    104341.0    104822.0
1    31731688.0  32758020.0  33736494.0  34656032.0
2    25998340.0  26920466.0  27859305.0  28813463.0
3     2895092.0   2889104.0   2880703.0   2876101.0
4       80788.0     79223.0     78014.0     77281.0
..          ...         ...         ...         ...
259   1824100.0   1821800.0   1801800.0   1816200.0
260  25576322.0  26246327.0  26916207.0  27584213.0
261  53767396.0  54539571.0  55291225.0  56015473.0
262  15153210.0  15620974.0  16100587.0  16591390.0
263  15054506.0  15411675.0  15777451.0  16150362.0

[264 rows x 59 columns]

In [ ]:
#Lets take a look at the null values present before data cleaning
df.isnull().sum()

Country Name    0
Country Code    0
1960            4
1961            4
1962            4
1963            4
1964            4
1965            4
1966            4
1967            4
1968            4
1969            4
1970            4
1971            4
1972            4
1973            4
1974            4
1975            4
1976            4
1977            4
1978            4
1979            4
1980            4
1981            4
1982            4
1983            4
1984            4
1985            4
1986            4
1987            4
1988            4
1989            4
1990            2
1991            2
1992            3
1993            3
1994            3
1995            2
1996            2
1997            2
1998            1
1999            1
2000            1
2001            1
2002            1
2003            1
2004            1
2005            1
2006            1
2007            1
2008            1
2009            1
2010            1
2011            1
2012            2
2013            2
2014            2
2015            2
2016            2
dtype: int64

In [ ]:
#listing datat types for each col
df.dtypes

Country Name     object
Country Code     object
1960            float64
1961            float64
1962            float64
1963            float64
1964            float64
1965            float64
1966            float64
1967            float64
1968            float64
1969            float64
1970            float64
1971            float64
1972            float64
1973            float64
1974            float64
1975            float64
1976            float64
1977            float64
1978            float64
1979            float64
1980            float64
1981            float64
1982            float64
1983            float64
1984            float64
1985            float64
1986            float64
1987            float64
1988            float64
1989            float64
1990            float64
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
dtype: object

In [ ]:
#Here is a row with all entries as Nan.Will be dropping these rows.
df.loc[108]

Country Name    Not classified
Country Code               INX
1960                       NaN
1961                       NaN
1962                       NaN
1963                       NaN
1964                       NaN
1965                       NaN
1966                       NaN
1967                       NaN
1968                       NaN
1969                       NaN
1970                       NaN
1971                       NaN
1972                       NaN
1973                       NaN
1974                       NaN
1975                       NaN
1976                       NaN
1977                       NaN
1978                       NaN
1979                       NaN
1980                       NaN
1981                       NaN
1982                       NaN
1983                       NaN
1984                       NaN
1985                       NaN
1986                       NaN
1987                       NaN
1988                       NaN
1989                       NaN
1990                       NaN
1991                       NaN
1992                       NaN
1993                       NaN
1994                       NaN
1995                       NaN
1996                       NaN
1997                       NaN
1998                       NaN
1999                       NaN
2000                       NaN
2001                       NaN
2002                       NaN
2003                       NaN
2004                       NaN
2005                       NaN
2006                       NaN
2007                       NaN
2008                       NaN
2009                       NaN
2010                       NaN
2011                       NaN
2012                       NaN
2013                       NaN
2014                       NaN
2015                       NaN
2016                       NaN
Name: 108, dtype: object

In [ ]:
#droping a specific row
index_to_drop = 108
df=df.drop(108)
print(df)

     Country Name Country Code        1960        1961        1962  \
0           Aruba          ABW     54211.0     55438.0     56225.0
1     Afghanistan          AFG   8996351.0   9166764.0   9345868.0
2          Angola          AGO   5643182.0   5753024.0   5866061.0
3         Albania          ALB   1608800.0   1659800.0   1711319.0
4         Andorra          AND     13411.0     14375.0     15370.0
..            ...          ...         ...         ...         ...
259        Kosovo          XKX    947000.0    966000.0    994000.0
260   Yemen, Rep.          YEM   5172135.0   5260501.0   5351799.0
261  South Africa          ZAF  17456855.0  17920673.0  18401608.0
262        Zambia          ZMB   3044846.0   3140264.0   3240587.0
263      Zimbabwe          ZWE   3747369.0   3870756.0   3999419.0

           1963        1964        1965        1966        1967  ...  \
0       56695.0     57032.0     57360.0     57715.0     58055.0  ...
1     9533954.0   9731361.0   9938414.0  10152331.0  10372630.0  ...
2     5980417.0   6093321.0   6203299.0   6309770.0   6414995.0  ...
3     1762621.0   1814135.0   1864791.0   1914573.0   1965598.0  ...
4       16412.0     17469.0     18549.0     19647.0     20758.0  ...
..          ...         ...         ...         ...         ...  ...
259   1022000.0   1050000.0   1078000.0   1106000.0   1135000.0  ...
260   5446063.0   5543339.0   5643643.0   5748588.0   5858638.0  ...
261  18899275.0  19412975.0  19942303.0  20486439.0  21045785.0  ...
262   3345145.0   3452942.0   3563407.0   3676189.0   3791887.0  ...
263   4132756.0   4269863.0   4410212.0   4553433.0   4700041.0  ...

           2007        2008        2009        2010        2011        2012  \
0      101220.0    101353.0    101453.0    101669.0    102053.0    102577.0
1    26616792.0  27294031.0  28004331.0  28803167.0  29708599.0  30696958.0
2    20997687.0  21759420.0  22549547.0  23369131.0  24218565.0  25096150.0
3     2970017.0   2947314.0   2927519.0   2913021.0   2905195.0   2900401.0
4       82683.0     83861.0     84462.0     84449.0     83751.0     82431.0
..          ...         ...         ...         ...         ...         ...
259   1733404.0   1747383.0   1761474.0   1775680.0   1791000.0   1805200.0
260  21751605.0  22356391.0  22974929.0  23606779.0  24252206.0  24909969.0
261  49887181.0  50412129.0  50970818.0  51584663.0  52263516.0  52998213.0
262  12725974.0  13082517.0  13456417.0  13850033.0  14264756.0  14699937.0
263  13329909.0  13558469.0  13810599.0  14086317.0  14386649.0  14710826.0

           2013        2014        2015        2016
0      103187.0    103795.0    104341.0    104822.0
1    31731688.0  32758020.0  33736494.0  34656032.0
2    25998340.0  26920466.0  27859305.0  28813463.0
3     2895092.0   2889104.0   2880703.0   2876101.0
4       80788.0     79223.0     78014.0     77281.0
..          ...         ...         ...         ...
259   1824100.0   1821800.0   1801800.0   1816200.0
260  25576322.0  26246327.0  26916207.0  27584213.0
261  53767396.0  54539571.0  55291225.0  56015473.0
262  15153210.0  15620974.0  16100587.0  16591390.0
263  15054506.0  15411675.0  15777451.0  16150362.0

[263 rows x 59 columns]

In [ ]:
#Analysed the data and found a few rows wherein there are a few Nan entries however, more than half of the entries have values data. Below is 1 such example.
df.loc[193]

Country Name     Paraguay
Country Code          PRY
1960            1902875.0
1961            1953328.0
1962            2005337.0
1963            2058915.0
1964            2114095.0
1965            2170859.0
1966            2229376.0
1967            2289582.0
1968            2350901.0
1969            2412566.0
1970            2474106.0
1971            2535359.0
1972            2596739.0
1973            2659088.0
1974            2723523.0
1975            2790962.0
1976            2861581.0
1977            2935375.0
1978            3012829.0
1979            3094482.0
1980            3180630.0
1981            3271456.0
1982            3366719.0
1983            3465793.0
1984            3567752.0
1985            3671826.0
1986            3777763.0
1987            3885436.0
1988            3994331.0
1989            4103911.0
1990            4213742.0
1991            4323410.0
1992            4432736.0
1993            4541902.0
1994            4651225.0
1995            4760850.0
1996            4870694.0
1997            4980344.0
1998            5089310.0
1999            5196937.0
2000            5302700.0
2001            5406624.0
2002            5508611.0
2003            5607950.0
2004            5703740.0
2005            5795494.0
2006            5882796.0
2007            5966159.0
2008            6047117.0
2009            6127837.0
2010            6209877.0
2011            6293783.0
2012            6379219.0
2013            6465740.0
2014            6552584.0
2015            6639119.0
2016            6725308.0
Name: 193, dtype: object

In [ ]:
#I shall take the avg of the rows s.t I may substitute the Nan entries in above example rows (df.loc[193]) with the avg.!
row_avg = df.mean(axis =1)
print(row_avg)

0      7.471237e+04
1      1.704045e+07
2      1.329235e+07
3      2.700067e+06
4      5.020537e+04
           ...
259    1.583332e+06
260    1.321189e+07
261    3.622859e+07
262    8.227454e+06
263    9.396634e+06
Length: 263, dtype: float64

<ipython-input-20-c476e3ffc36c>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  row_avg = df.mean(axis =1)

In [ ]:
#Filling Nan vaues with mean of row using Transpose (T)

#df.fillna(df.mean(axis=1),inplace=True) - Tried this func earlier, however, only a few rows were affected. Hence using the T approach.
df=df.T.fillna(df.mean(axis=1)).T

<ipython-input-21-15ef0e5f4e27>:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df=df.T.fillna(df.mean(axis=1)).T

In [ ]:
#Now, lets take a look at the null values after cleaning!Should be 0.
df.isnull().sum()

Country Name    0
Country Code    0
1960            0
1961            0
1962            0
1963            0
1964            0
1965            0
1966            0
1967            0
1968            0
1969            0
1970            0
1971            0
1972            0
1973            0
1974            0
1975            0
1976            0
1977            0
1978            0
1979            0
1980            0
1981            0
1982            0
1983            0
1984            0
1985            0
1986            0
1987            0
1988            0
1989            0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
dtype: int64

In [ ]:
#Onelast chk for duplicates
df.duplicated()
duplicate_rows = df.duplicated(subset=['1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016'])
print(duplicate_rows)

0      False
1      False
2      False
3      False
4      False
       ...
259    False
260    False
261    False
262    False
263    False
Length: 263, dtype: bool

In [ ]:
#Resetting index so that the rows are no correctly & dataset is cleaned
df.reset_index(drop = True, inplace = True)
print(df)

     Country Name Country Code        1960        1961        1962  \
0           Aruba          ABW     54211.0     55438.0     56225.0
1     Afghanistan          AFG   8996351.0   9166764.0   9345868.0
2          Angola          AGO   5643182.0   5753024.0   5866061.0
3         Albania          ALB   1608800.0   1659800.0   1711319.0
4         Andorra          AND     13411.0     14375.0     15370.0
..            ...          ...         ...         ...         ...
258        Kosovo          XKX    947000.0    966000.0    994000.0
259   Yemen, Rep.          YEM   5172135.0   5260501.0   5351799.0
260  South Africa          ZAF  17456855.0  17920673.0  18401608.0
261        Zambia          ZMB   3044846.0   3140264.0   3240587.0
262      Zimbabwe          ZWE   3747369.0   3870756.0   3999419.0

           1963        1964        1965        1966        1967  ...  \
0       56695.0     57032.0     57360.0     57715.0     58055.0  ...
1     9533954.0   9731361.0   9938414.0  10152331.0  10372630.0  ...
2     5980417.0   6093321.0   6203299.0   6309770.0   6414995.0  ...
3     1762621.0   1814135.0   1864791.0   1914573.0   1965598.0  ...
4       16412.0     17469.0     18549.0     19647.0     20758.0  ...
..          ...         ...         ...         ...         ...  ...
258   1022000.0   1050000.0   1078000.0   1106000.0   1135000.0  ...
259   5446063.0   5543339.0   5643643.0   5748588.0   5858638.0  ...
260  18899275.0  19412975.0  19942303.0  20486439.0  21045785.0  ...
261   3345145.0   3452942.0   3563407.0   3676189.0   3791887.0  ...
262   4132756.0   4269863.0   4410212.0   4553433.0   4700041.0  ...

           2007        2008        2009        2010        2011        2012  \
0      101220.0    101353.0    101453.0    101669.0    102053.0    102577.0
1    26616792.0  27294031.0  28004331.0  28803167.0  29708599.0  30696958.0
2    20997687.0  21759420.0  22549547.0  23369131.0  24218565.0  25096150.0
3     2970017.0   2947314.0   2927519.0   2913021.0   2905195.0   2900401.0
4       82683.0     83861.0     84462.0     84449.0     83751.0     82431.0
..          ...         ...         ...         ...         ...         ...
258   1733404.0   1747383.0   1761474.0   1775680.0   1791000.0   1805200.0
259  21751605.0  22356391.0  22974929.0  23606779.0  24252206.0  24909969.0
260  49887181.0  50412129.0  50970818.0  51584663.0  52263516.0  52998213.0
261  12725974.0  13082517.0  13456417.0  13850033.0  14264756.0  14699937.0
262  13329909.0  13558469.0  13810599.0  14086317.0  14386649.0  14710826.0

           2013        2014        2015        2016
0      103187.0    103795.0    104341.0    104822.0
1    31731688.0  32758020.0  33736494.0  34656032.0
2    25998340.0  26920466.0  27859305.0  28813463.0
3     2895092.0   2889104.0   2880703.0   2876101.0
4       80788.0     79223.0     78014.0     77281.0
..          ...         ...         ...         ...
258   1824100.0   1821800.0   1801800.0   1816200.0
259  25576322.0  26246327.0  26916207.0  27584213.0
260  53767396.0  54539571.0  55291225.0  56015473.0
261  15153210.0  15620974.0  16100587.0  16591390.0
262  15054506.0  15411675.0  15777451.0  16150362.0

[263 rows x 59 columns]

In [ ]:
#round off years to 2 decimal
df=df.round(2)
print(df)

     Country Name Country Code        1960        1961        1962  \
0           Aruba          ABW     54211.0     55438.0     56225.0
1     Afghanistan          AFG   8996351.0   9166764.0   9345868.0
2          Angola          AGO   5643182.0   5753024.0   5866061.0
3         Albania          ALB   1608800.0   1659800.0   1711319.0
4         Andorra          AND     13411.0     14375.0     15370.0
..            ...          ...         ...         ...         ...
258        Kosovo          XKX    947000.0    966000.0    994000.0
259   Yemen, Rep.          YEM   5172135.0   5260501.0   5351799.0
260  South Africa          ZAF  17456855.0  17920673.0  18401608.0
261        Zambia          ZMB   3044846.0   3140264.0   3240587.0
262      Zimbabwe          ZWE   3747369.0   3870756.0   3999419.0

           1963        1964        1965        1966        1967  ...  \
0       56695.0     57032.0     57360.0     57715.0     58055.0  ...
1     9533954.0   9731361.0   9938414.0  10152331.0  10372630.0  ...
2     5980417.0   6093321.0   6203299.0   6309770.0   6414995.0  ...
3     1762621.0   1814135.0   1864791.0   1914573.0   1965598.0  ...
4       16412.0     17469.0     18549.0     19647.0     20758.0  ...
..          ...         ...         ...         ...         ...  ...
258   1022000.0   1050000.0   1078000.0   1106000.0   1135000.0  ...
259   5446063.0   5543339.0   5643643.0   5748588.0   5858638.0  ...
260  18899275.0  19412975.0  19942303.0  20486439.0  21045785.0  ...
261   3345145.0   3452942.0   3563407.0   3676189.0   3791887.0  ...
262   4132756.0   4269863.0   4410212.0   4553433.0   4700041.0  ...

           2007        2008        2009        2010        2011        2012  \
0      101220.0    101353.0    101453.0    101669.0    102053.0    102577.0
1    26616792.0  27294031.0  28004331.0  28803167.0  29708599.0  30696958.0
2    20997687.0  21759420.0  22549547.0  23369131.0  24218565.0  25096150.0
3     2970017.0   2947314.0   2927519.0   2913021.0   2905195.0   2900401.0
4       82683.0     83861.0     84462.0     84449.0     83751.0     82431.0
..          ...         ...         ...         ...         ...         ...
258   1733404.0   1747383.0   1761474.0   1775680.0   1791000.0   1805200.0
259  21751605.0  22356391.0  22974929.0  23606779.0  24252206.0  24909969.0
260  49887181.0  50412129.0  50970818.0  51584663.0  52263516.0  52998213.0
261  12725974.0  13082517.0  13456417.0  13850033.0  14264756.0  14699937.0
262  13329909.0  13558469.0  13810599.0  14086317.0  14386649.0  14710826.0

           2013        2014        2015        2016
0      103187.0    103795.0    104341.0    104822.0
1    31731688.0  32758020.0  33736494.0  34656032.0
2    25998340.0  26920466.0  27859305.0  28813463.0
3     2895092.0   2889104.0   2880703.0   2876101.0
4       80788.0     79223.0     78014.0     77281.0
..          ...         ...         ...         ...
258   1824100.0   1821800.0   1801800.0   1816200.0
259  25576322.0  26246327.0  26916207.0  27584213.0
260  53767396.0  54539571.0  55291225.0  56015473.0
261  15153210.0  15620974.0  16100587.0  16591390.0
262  15054506.0  15411675.0  15777451.0  16150362.0

[263 rows x 59 columns]

In [ ]:
#updated no of rows & col in df
df.shape

(263, 59)

In [ ]:
#final overview of df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 59 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  263 non-null    object
 1   Country Code  263 non-null    object
 2   1960          263 non-null    object
 3   1961          263 non-null    object
 4   1962          263 non-null    object
 5   1963          263 non-null    object
 6   1964          263 non-null    object
 7   1965          263 non-null    object
 8   1966          263 non-null    object
 9   1967          263 non-null    object
 10  1968          263 non-null    object
 11  1969          263 non-null    object
 12  1970          263 non-null    object
 13  1971          263 non-null    object
 14  1972          263 non-null    object
 15  1973          263 non-null    object
 16  1974          263 non-null    object
 17  1975          263 non-null    object
 18  1976          263 non-null    object
 19  1977          263 non-null    object
 20  1978          263 non-null    object
 21  1979          263 non-null    object
 22  1980          263 non-null    object
 23  1981          263 non-null    object
 24  1982          263 non-null    object
 25  1983          263 non-null    object
 26  1984          263 non-null    object
 27  1985          263 non-null    object
 28  1986          263 non-null    object
 29  1987          263 non-null    object
 30  1988          263 non-null    object
 31  1989          263 non-null    object
 32  1990          263 non-null    object
 33  1991          263 non-null    object
 34  1992          263 non-null    object
 35  1993          263 non-null    object
 36  1994          263 non-null    object
 37  1995          263 non-null    object
 38  1996          263 non-null    object
 39  1997          263 non-null    object
 40  1998          263 non-null    object
 41  1999          263 non-null    object
 42  2000          263 non-null    object
 43  2001          263 non-null    object
 44  2002          263 non-null    object
 45  2003          263 non-null    object
 46  2004          263 non-null    object
 47  2005          263 non-null    object
 48  2006          263 non-null    object
 49  2007          263 non-null    object
 50  2008          263 non-null    object
 51  2009          263 non-null    object
 52  2010          263 non-null    object
 53  2011          263 non-null    object
 54  2012          263 non-null    object
 55  2013          263 non-null    object
 56  2014          263 non-null    object
 57  2015          263 non-null    object
 58  2016          263 non-null    object
dtypes: object(59)
memory usage: 121.4+ KB

In [ ]:
years = [str(i) for i in range(1960,2017)]
print(years)

['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']

In [ ]:
melt_df = pd.melt(df,
                  id_vars='Country Code',
                  value_vars=years,
                  var_name='Year',
                  value_name='Population'
                  )
melt_df.head()

  Country Code  Year Population
0          ABW  1960    54211.0
1          AFG  1960  8996351.0
2          AGO  1960  5643182.0
3          ALB  1960  1608800.0
4          AND  1960    13411.0

In [ ]:
melt_df['Country Code'].value_counts()

ABW    57
MWI    57
NAC    57
NAM    57
NCL    57
       ..
HIC    57
HKG    57
HND    57
HPC    57
ZWE    57
Name: Country Code, Length: 263, dtype: int64

In [ ]:
melt_df.isna().sum()

Country Code    0
Year            0
Population      0
dtype: int64